@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


:root {
  --text: white;
  --main: black;
  --background: #111;
  --background-zigzag-1: #111;
  --background-zigzag-2: #141414;
  --background-header: #222;
  --background-border: #181818;
  --background-tone-1: #222;
  --background-tone-2: #2a2a2a;
  --medium-grey: #999;
  --medium-grey-2: #777;
  --red: hsl(5, 100%, 50%);
  --red-dim: hsla(5, 100%, 50%, 0.8);
  --red-tone-1: hsl(5, 100%, 40%);
  --blue: hsl(224, 100%, 50%);
  --blue-dim: hsla(224, 100%, 50%, 0.8);
  --blue-tone-1: hsl(224, 100%, 40%);
  --purple: hsl(275, 100%, 50%);
  --purple-tone-1: hsl(275, 100%, 40%);
  --orange: hsl(30, 100%, 50%);
  --green: hsl(125, 100%, 40%);
  --green-dim: hsla(125, 100%, 40%, 0.8);
  --gold: hsl(51, 100%, 50%);
  --light-grey: var(--background);
  --table-shadow: black;


}
[data-theme="light"] {
  --text: black;
  --main: white;
  --background: #b8b8b8;
  --background-zigzag-1: #c6c6c6;
  --background-zigzag-2: #c0c0c0;
  --background-border: #ddd;
  --background-header: #ccc;
  --background-tone-1: #aaa;
  --background-tone-2: #a8a8a8;
  /* --red-dim: hsla(5, 100%, 50%, 0); */
  /* --blue-dim: hsla(224, 100%, 50%, 0); */
  --medium-grey: #777;
  --medium-grey-2: #999;
  --green: hsl(125, 100%, 25%);
  --green-dim: hsla(125, 100%, 25%, 0.8);
  --gold: hsl(61, 100%, 50%);
  --light-grey: #fff;
  --table-shadow: #333;

}
header {
  background-color: var(--background-header);
  font-family: Bungee;
  text-align: center;
  color: hsl(177, 71%, 38%);
  height: 125px;
  width: 100%;
  top: 0;
  border-bottom: 10px solid var(--background-border);
  position: fixed;
  z-index: 10;
  transition: height 0.3s, top 0.3s, font-size 0.2s;
  scroll-margin-top: 40px;
}
header.shrink {
  height: 75px;
  font-size: 0;
}
.diagonalLine {
  position: absolute;
  top: 50px;
  left: -50px;
  width: 200px;
  height: 20px;
  background-color: hsl(5, 100%, 50%);
  transform: rotate(-45deg);
  transition: inherit;
}
.diagonalLine2 {
  position: absolute;
  top: 50px;
  right: -50px;
  width: 200px;
  height: 20px;
  background-color: hsl(224, 100%, 50%);
  transform: rotate(45deg);
  transition: inherit;
}
.shrink .diagonalLine, .shrink .diagonalLine2 {
  top: 10px;
}
hr {
  color: var(--text);
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
[data-theme="light"] hr {
  border-style: solid;
}
h1 { 
  margin: 0;
  text-align: center;
  font-size: 34px;
  font-family: Bungee;
  transition: inherit;
}
header h1 {
  margin: 0;
  color: var(--text);
}
header h1::before {
  content: "Andy's";
  font-size: 25px;
  vertical-align: middle;
  color: hsl(138, 71%, 38%);
  padding-right: 5px;
}
/* header h1::after {
  content: "(Java)";
  font-size: 25px;
  vertical-align: middle;
  color: hsl(41, 77%, 42%);
  padding-left: 5px;
} */
.themeSwitchContainer {
  position: absolute;
  top: 25px;
  right: 120px;
  display: flex;
  align-items: center;
}
.themeSwitchContainer p {
  position: absolute;
  left: 0px;
  width: 100%;
  top: 17px;
}

.themeSwitch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.themeSwitch input {
  display:none;
}
.themeSlider {
  background-color: #eee;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.4s;
  outline: 5px solid #111;
}
.themeSlider:before {
  background-color: forestgreen;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
input:checked + .themeSlider {
  background-color: #111;
  outline: 5px solid #eee;
}
input:checked + .themeSlider:before {
  transform: translateX(26px);
}
.themeSlider.round {
  border-radius: 34px;
}
.themeSlider.round:before {
  border-radius: 50%;
}

.relative {
  position: relative;
}

body {
  font-family:'Segoe UI';
  color: var(--text);
  width: 100%;
  margin: auto;
  margin-top: 160px;
  background: linear-gradient(45deg, var(--background-zigzag-1) 25%, transparent 25%),
  linear-gradient(135deg, var(--background-zigzag-1) 25%, transparent 25%) 0px 0,
  linear-gradient(-45deg, var(--background-zigzag-1) 25%, transparent 25%) 0 25px,
  linear-gradient(-135deg, var(--background-zigzag-1) 25%, transparent 25%) 0px 25px;
  background-size: 50px 50px;
  background-color: var(--background-zigzag-2);
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-wrap: wrap;
  /* gap: 0 26px; */
  flex-direction: column;
}
.gearContainer {
  width: 100%;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
}
.container {
  width: 100%;
  display: block;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
#leftHalf, #rightHalf {
  min-width: 611px;
}
#leftHalf {
  float: left;
  flex-grow: 1;
}
#rightHalf {
  float: right;
  flex-grow: 1;
}
#middleHalf {
  order: 1;
}
#vs {
  display: none;
  position: absolute;
  top: 110px;
  left: calc( 50% - 41.40625px);
  font-size: 60px;
  color: var(--orange) 
}
@media (min-width: 1264px) {
  body {
    flex-direction: row;
  }
  #leftHalf, #rightHalf {
    width: 50%;
  }
  #vs {
    display: block;
  }
}
@media (min-width: 1800px) {
  #leftHalf, #rightHalf {
    width: 40%;
  }
  #middleHalf {
    order: 0;
  }
  #middleHalf {
    width: unset;
  }
}


#player1Name {
  color: var(--red);
}
#player2Name {
  color: var(--blue);
}
#results {
  color: var(--green);
  margin-top: 60px;
}
/* DICE */
.quickControls {
  /* position: absolute; */
  display: flex;
  margin-left: auto;
  margin-right: 0;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--background-tone-2);
  gap: 6px;
  padding: 8px;
  -webkit-user-select: none;
  user-select: none;
}
#rightHalf .quickControls {
  margin-left: 0;
  margin-right: auto;

}
.quickControls div {
  cursor: pointer;
}
.quickControls div:nth-of-type(9) {
  margin-top: auto;
}
.quickControls hr {
  width: 50%;
}
.quickControls hr:nth-of-type(3) {
  display: none;
}
.tallContainer .quickControls div:nth-of-type(5) {
  margin-top: auto;
}
.tallContainer .quickControls div:nth-of-type(9) {
  margin-top: unset;
}
.tallContainer .quickControls hr:nth-of-type(2) {
  display: none;
}
.tallContainer .quickControls hr:nth-of-type(3) {
  display: block;
}



.tooltip {
  visibility: hidden;
  /* display: flex; */
  height: 22px;
  background-color: var(--main);
  color: var(--text);
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px 5px 8px;
  position: absolute;
  z-index: 2;
  top: calc(50% - 16px);
  left: 125%;
  font-size: 16px !important;
  font-weight: normal;
  white-space: nowrap;
  font-family: montserrat;
  line-height: normal;
}
.tooltip::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  margin-left: -12px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent var(--main) transparent transparent;
}
.tooltip.leftTooltip {
  padding: 5px 8px 5px 8px;
  left: unset;
  right: 125%;
}
.tooltip.leftTooltip::after {
  content: "";
  position: absolute;
  top: 10px;
  left: unset;
  right: 0px;
  margin-right: -12px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent var(--main);
}
.hasTooltip {
  position: relative;
}
.hasTooltip:hover .tooltip {
  visibility: visible;
}
.animate .tooltip {
  animation: hide 0.4s;
}
@keyframes hide {
  0% {opacity: 0;}
  100% {opacity: 0;}
}
.dice {
	display: grid;
	grid-template-areas:
		"a . c"
		"e g f"
		"d . b";

	flex: 0 0 auto;
	padding: 4px;
	width: 26px;
	height: 26px;
	background-color: #000;
	border-radius: 10%;
  margin: 0 auto;
}
.dice:hover, .gearReset:hover{
  outline: 2px solid var(--text);
}
.gearReset {
	padding: 4px;
	width: 24px;
	height: 24px;
  font-size: 24px;
  line-height: 20px;
  border-radius: 10%;
	background-color: var(--main);
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
}
.weaponDice {
  background-color: var(--red);
}
.weaponReset {
  background-color: var(--red-tone-1);
}
.effectDice {
  background-color: var(--purple);
}
.effectReset {
  background-color: var(--purple-tone-1);
}
.armourDice {
  background-color: var(--blue);
}
.armourReset, .armourUp, .armourDown {
  background-color: var(--blue-tone-1);
}
.cooldownReset {
  background-color: var(--orange);
}
.gearFiles {
	padding: 4px;
	width: 26px;
	height: 26px;
  font-size: 30px;
  /* text-indent: -1px; */
  line-height: 26px;
  border-radius: 10%;
	background-color: hsl(120, 100%, 34%);
  color: #000;
  text-align: center;
  font-weight: 600;
  margin: 0 auto;
}
.saveGear:hover{
  outline: 3px solid var(--main);
}
.folder {
  background-color: hsl(43, 100%, 50%);
  font-size: 30px;
  color: hsl(25, 76%, 31%);
  color: #000;
  text-indent: -2.5px;
  /* color: var(--main); */
  /* border: 2px solid #A77802; */
  border-radius: 5px;
}
.gearFiles:hover {
  /* background-color: #FDED2A; */
  outline: 3px solid var(--text);
}
.dice.animate{
  animation: wiggle 0.4s;
}
@keyframes wiggle {
  10% {transform: rotate(20deg);}
  40% {transform: rotate(-10deg);}
  70% {transform: rotate(5deg);}
  100% {}
}
.pip {
	display: block;
	align-self: center;
	justify-self: center;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #CCC;
	box-shadow: inset 0 3px #EEE, inset 0 -2px #BBB;
}

.pip:nth-of-type(2) {
	grid-area: b;
}
.pip:nth-of-type(3) {
	grid-area: c;
}
.pip:nth-of-type(4) {
	grid-area: d;
}
.pip:nth-of-type(5) {
	grid-area: e;
}
.pip:nth-of-type(6) {
	grid-area: f;
}
/* This selects the last pip of odd-valued dice (1, 3, 5) and positions the pip in the center */
.pip:nth-of-type(odd):last-of-type {
	grid-area: g;
}
.spin.animate {
  animation: spin 0.4s ease-out;
}
@keyframes spin {
  0% { transform: rotate(0deg); border-radius: 100px; }
  100% { transform: rotate(-360deg); }
}
.textMoveUp.animate {
  animation: textMoveUp 0.4s ease;
}
@keyframes textMoveUp {
  0% { line-height: 12px; outline-color: green;}
  80% { outline-color: green;}
}
.textMoveDown.animate {
  animation: textMoveDown 0.4s ease;
}
@keyframes textMoveDown {
  0% { line-height: 28px; outline-color: red;}
  80% { outline-color: red}
}

.resultsContainer {
  width: 300px;
  position: relative;
  background-color: var(--background);
  border: 8px solid var(--background-tone-1);
  outline: 3px solid var(--green-dim);
  box-shadow: 8px 10px 8px var(--table-shadow),
              -8px 10px 8px var(--table-shadow);
  border-radius: 20px;
}
.resultsContainer:nth-of-type(2) {
  margin-top: 30px;
}

table {
  margin-left: 0;
  display: inline-block;
}
.gearTable {
  position: relative;
  box-sizing: border-box;
  background-color: var(--background);
  min-width: calc( 611px - 50px);
  margin-right: auto;
  padding: 3px;
  padding-right: 22px;
  border: 8px solid var(--background-tone-1);
  border-radius: 0px;
  border-left-width: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  outline: 3px solid var(--red-dim);
  outline-offset: -3px;
  box-sizing: border-box;
}
.gearTable::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--background);
}
.quickControls, .gearTable {
  box-shadow: 10px 10px 8px var(--table-shadow);
}
#rightHalf .quickControls, #rightHalf .gearTable {
  box-shadow: -10px 10px 8px var(--table-shadow);
}
#rightHalf .gearTable::before {
  content: "";
  position: absolute;
  top: -3px;
  left: calc( 100% - 3px);
  height: 100%;
  width: 3px;
  background-color: var(--background);
}

#rightHalf .gearTable{
  margin-right: 0;
  margin-left: auto;
  border: 8px solid var(--background-tone-1);
  border-radius: 0px;
  border-right-width: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 1;
  outline-color: var(--blue-dim);
}
.verticalTop {
  vertical-align: top;
}
.verticalBottom{
  vertical-align: bottom;
}

.box {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-color: var(--medium-grey-2);
  padding: 3px;
  border: 3px solid var(--medium-grey);
  background-image: url(Images/Barrier.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80px;
  transition: background-image 0.2s;
  margin: 0;
}
.tool {
  width: 160px;
  height: 160px;
  background-size: 160px;
  border-width: 6px;
}
.selectTools {
  width: 90px;
  margin-left: -7px;
  user-select: none;
}
.selectTool {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: 32px;
  border-width: 2px;
  opacity: 80%;
  image-rendering: pixelated;
}
.selectTool:hover {
  opacity: 100%;
}

.helmet.box {
  background-image: url(Images/Helmet/Empty_Helmet.webp);
}
.chestplate.box {
  background-image: url(Images/Chestplate/Empty_Chestplate.webp);
}
.leggings.box {
  background-image: url(Images/Leggings/Empty_Leggings.webp);
}
.boots.box {
  background-image: url(Images/Boots/Empty_Boots.webp);
}
.pixelated {
  image-rendering: pixelated;
}
.armourDefence, .totalDefence, .armourToughness, .totalToughness, .totalHitpoints {
  display: block;

}
.armourDefence, .totalDefence{
  background-image: url(Images/Icon/Empty_Armour.webp);
  background-size: 18px;
  width: 72px;
  height: 18px;
  display: block;
  margin-bottom: 2px;
}
.helmetDefence, .bootsDefence {
  width: 36px;
}
.leggingsDefence {
  width: 54px;
}
.totalDefence {
  min-width: 180px;

}
.armourToughness{
  height: 18px;
  width: 36px;
  display: block;
}
.totalToughness {
  width: 180px;
  height: 18px;
  margin-top: 0px;
  margin: 0;
}
.totalHitpoints{
  background-size: 18px;
  width: 180px;
  height: auto;
  line-height: 18px;
}
.totalHitpointsContainer{
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -3px;
  padding: 0;
  height: auto;
}
.hitpointBreak {
  display: block;
  content: "";
  margin: 0;
  margin-top: 0px;
}
.weaponDamageContainer {
  width: 180px;
}
.attackCooldownContainer {
  position: relative;
  width: 260px;
  margin: 1px 0 0px -4px;
  line-height: 20px;
  border: 2px solid var(--background);
  cursor: pointer;
}
.editable.attackCooldownContainer {
  border-color: var(--orange);
  cursor: crosshair;
}
.immunityInfo {
  opacity: 0;
  margin-top: -1px;
  margin-bottom: 5px;
}
.immunityInfo.show {
  opacity: 1;
}
[data-theme="light"] .attackCooldown img {
  filter: drop-shadow(1px 0 0 #777) 
  drop-shadow(-1px 0 0 #777)
  drop-shadow(0 1px 0 #777)
  drop-shadow(0 -1px 0 #777);
  clip-path: inset(2px 2px 2px 2px);
}
.profile .box, .profile p, .profile table{
  cursor: default;
}
.box:hover {
  border-color: var(--text);
}

button {
  cursor: pointer;
}
.editProfile, .deleteProfile {
  cursor: pointer;
}

th, td {
  font-size: 16px;
}
.number {
  position: relative;
  font-family: Bungee;
  -webkit-user-select: none;
  user-select: none;
}
.inputValue {
  position: absolute;
  border: 0px solid;
  top: calc(1em - 14px);
  left: calc( 50% - 25px);
  box-sizing: border-box;
  color: var(--text);
  font-size: 25px;
  height: 40px;
  width: 50px;
  background-color: transparent;
  text-align: center;
  border-radius: 0;
  font-family: Bungee;
}
.inputValue:focus{
  outline: none;
  border: 2px solid --texttvar(--text);
  z-index: 2;
}
.arrow {
  position: relative;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  border: 0;
  border-radius: 24px;
  font-weight: bold;
  background-color: var(--light-grey);
  /* background-color: hsl(221, 90%, 16%); */
  outline: 3px solid var(--medium-grey);
  font-size: 24px;
  color: green;
  z-index: 1;
  font-family: Bungee;
  overflow: hidden;
}
.arrow:hover {
  border-color: var(--text);
}
.arrowDown {
  left: calc(100% - 48px - 4px);
  color: red;
}
.arrow p {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  line-height: 0.5;
}
.number .arrowUp:active, .number .arrowDown:active{
  top: 1px;
}
.hitpoints {
  padding: 0;
  width: 90px;
  height: 38px;
  color: red;
  font-size: 20px;
  margin: 0 auto;
  position: relative;
  float: left;
  margin-top: 0px;
  /* margin-bottom: -5px; */
  margin-left: 0px;
  margin-right: 3px;
}
.hitpoints > p {
  display: flex;
  justify-content: center;
  line-height: 0px;
  margin: 0px auto;
}
.hitpoints input {
  position: absolute;
  left: calc(50% - 20px);
  line-height: normal;
  top: 8px;
  width: 40px;
}
.hitpoints .arrow {
  top: 3px;
}
.hitpoints .arrow:hover {
  outline-color: var(--text);
}
.hitpoints .arrow:active {
  top: 5px;
}

.enchantment {
  /* vertical-align: center; */
  float: right;
  width: 60px;
  height: 75px;
  /* transition: 0.1s; */
  background-image: url(Images/Protection.webp);
  background-size: 150%;
  background-position: center 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}
.enchantment .inputValue {
  height: 50%;
  width: 100%;
  top: 10%;
  left: 0px;
  color: #cecece;
  text-shadow:
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
}
.levelled {
  color: rgb(179, 20, 165) !important;
}
.enchantment .inputValue:focus {
  border: 3px solid var(--medium-grey);
  border-radius: 10px;
  background-color: var(--background-tone-1);
}
.enchantment .arrow{
  top: 60%;
  left: 0px;
  border: none;
  background-color: hsl(221, 90%, 16%);
  outline: 3px solid var(--medium-grey);
}
.enchantment .arrowDown{
  left: calc(100% - 48px - 2px);
}
.enchantment .arrow:hover {
  outline-color: var(--text);
}
.enchantment .arrow:active {
  top: calc(60% + 1px);
}
.crit {
  background-image: url(Images/Crit.webp);
  background-size: 54px;
  background-position: 6px 7px;
  width: 60px;
  height: 60px;
  float: left;
  opacity: 0.3;
  color: rgba(255, 255, 255, 0.87);
}
[data-theme="light"] .crit {
  filter: drop-shadow(2px 0 0 #555) 
  drop-shadow(-2px 0 0 #555)
  drop-shadow(0 2px 0 #555)
  drop-shadow(0 -2px 0 #555);
  opacity: 0.6;
  filter: invert();
}
.crit:hover , .effects:hover{
  background-color: #333;
}
[data-theme="light"] .crit:hover, [data-theme="light"] .effects:hover{
  background-color: #888;
}
.crit.on {
  opacity: 1;
}
[data-theme="light"] .crit.on { 
filter: drop-shadow(2px 0 0 #555) 
drop-shadow(-2px 0 0 #555)
drop-shadow(0 2px 0 #555)
drop-shadow(0 -2px 0 #555);
}
.crit.on::after {
  content: "CRIT!";
  position: absolute;
  font-size: 14px;
  left: 8px;
  bottom: -20px;
}
.sharpness {
  background-image: url(Images/Sharpness.webp);
  float: left;
  margin: 0px 3px;
}
.effects {
  float: right;
  width: 60px;
  height: 60px;
  background-image: url(Images/Effects.webp);
  background-size: 100%;
}
.effectLine{
  display: flex;
  position: absolute;
  left: 100%;
  top: -5px;
  flex-wrap: nowrap;
  gap: 10px;
  max-width: 340px;
  overflow-y: show;
  overflow-x: auto;
  background-color: none;
  padding: 5px 10px 5px 10px;
  flex-direction: row;
  scroll-snap-type: x mandatory;
}
.effectLine:empty {
  padding: 0;
  border: 0;
}
.effectLine .effect {
  float: left;
  min-width: 50px;
  min-height: 50px;
  scroll-snap-align: center;
}
.effect.off::before {
  content: "";
}
.effectLine::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.effectLine::-webkit-scrollbar-track {
  background: #080808;
  border-radius: 10px;
  margin: 0px 5px;
}
.effectLine::-webkit-scrollbar-thumb {
  background: rgb(90, 18 ,152);
  border-radius: 10px;
}
.effectLine::-webkit-scrollbar-thumb:hover {
  background: rgb(174, 85, 219);
}
.effectTable{
  display: none;
  position: absolute;
  left: 100%;
  top: -10px;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
  width: 340px;
  background-color: var(--background);
  border: 5px solid var(--background-tone-1);
  border-top: 0;
  border-right: 0;
  padding: 10px 10px 5px 5px;
  z-index: 2;
  border-radius: 0px;
  border-bottom-left-radius: 10px;
}
.effects:hover~.effectTable, .effectTable:hover, .effectTable:focus-within{
  display: flex;
}
.effect {
  position: relative;
  background-position: center;
  background-size: 36px;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  float: right;
  border: 5px solid #555;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}
.effect::before {
  position: absolute;
  top: -20px;
  left: -5px;
  width: 60px;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
  color: var(--text);
  text-shadow:
  -1px -1px 0 var(--main),
  1px -1px 0 var(--main),
  -1px 1px 0 var(--main),
  1px 1px 0 var(--main);
  content: attr(data-before);
}
.effect.off {
  opacity: 0.3;
}
[data-theme="light"] .effect.off {
  opacity: 0.6;
}
.effect.off:hover, .effect.off:focus-within{
  opacity: 0.8;
}
[data-theme="light"] .effect.off:hover, .effect.off:focus-within{
  opacity: 1;
}
.effect .inputValue {
  top: 0;
  display: none;
  width: 100%;
  color: white;
}
.effect .inputValue:focus {
  border: none;
}
.effect:hover, .effect:focus-within{
  background-color: #333 !important;
  /* background-image: none !important; */
  background-blend-mode: multiply;
}
.effect:hover .inputValue, .effect:focus-within .inputValue{
  display: block;
}
.effect .arrow{
  display: none;
  background-color: #bbb;
  outline: none;
  /* background-color: initial; */
  border: 2px solid var(--medium-grey);
  top: 30px;
  left: 0;
}
.effect .arrow:hover {
  border-color:  var(--text);
}
.effect:hover .arrow, .effect:focus-within .arrow{
  display: block;
}
.effect .arrowDown {
  top: 6px;
  left: calc(100% - 24px);  
}
.effect .arrow:active {
  top: calc(60% + 1px);
}
.effect .arrowDown:active {
  top: 7px;
}
.effect.positive {
  border-color: forestgreen;
}
.effect.negative {
  border-color: darkred;
}
.strength {
  background-image: url(Images/Effect/Strength.webp);
  background-color:  #952523;
}
.haste {
  background-image: url(Images/Effect/Haste.webp);
  background-color:  #D9C043;
}
.regeneration {
  background-image: url(Images/Effect/Regeneration.webp);
  background-color: #CD5CAB;
}
.resistance {
  background-image: url(Images/Effect/Resistance.webp);
  background-color: #99453A;
}
.weakness {
  background-image: url(Images/Effect/Weakness.webp);
  background-color:  #484D48;
}
.miningFatigue {
  background-image: url(Images/Effect/Mining_Fatigue.webp);
  background-color:  #4A4217;
}
.fireResistance {
  background-image: url(Images/Effect/Fire_Resistance.webp);
  background-color: #E49A3A;
}
.speed {
  background-image: url(Images/Effect/Speed.webp);
  background-color: #7CAFC6;
}
.slowness {
  background-image: url(Images/Effect/Slowness.webp);
  background-color: #5A6C81;
}
.waterBreathing {
  background-image: url(Images/Effect/Water_Breathing.webp);
  background-color: #2E5299;
}
.invisibility {
  background-image: url(Images/Effect/Invisibility.webp);
  background-color: #7F8392;
}
.glowing {
  background-image: url(Images/Effect/Glowing.webp);
  background-color: #94A061;
}
.healthBoost {
  background-image: url(Images/Effect/Health_Boost.webp);
  background-color: #F87D23;
}
.absorption {
  background-image: url(Images/Effect/Absorption.webp);
  background-color: #2552A5;
}
.jumpBoost {
  background-image: url(Images/Effect/Jump_Boost.webp);
  background-color: #22FF4C;
}
.slowFalling {
  background-image: url(Images/Effect/Slow_Falling.webp);
  background-color: #F7F8E0;
}
.levitation {
  background-image: url(Images/Effect/Levitation.webp);
  background-color: #CEFFFF;
}
.saturation {
  background-image: url(Images/Effect/Saturation.webp);
  background-color: #F82421;
}
.hunger {
  background-image: url(Images/Effect/Hunger.webp);
  background-color: #587653;
}
.nausea {
  background-image: url(Images/Effect/Nausea.webp);
  background-color: #551D4A;
}
.nightVision {
  background-image: url(Images/Effect/Night_Vision.webp);
  background-color: #1F1FA1;
}
.blindness {
  background-image: url(Images/Effect/Blindness.webp);
  background-color: #1F1F23;
}
.darkness {
  background-image: url(Images/Effect/Darkness.webp);
  background-color: #292721;
}
.poison {
  background-image: url(Images/Effect/Poison.webp);
  background-color: #4E9331;
}
.wither {
  background-image: url(Images/Effect/Wither.webp);
  background-color: #352A27;
}
.instantHealth {
  background-image: url(Images/Effect/Instant_Health.webp);
  background-color: #F82423;
}
.instantDamage {
  background-image: url(Images/Effect/Instant_Damage.webp);
  background-color: #430A09;
}
.resultsContainer .resultsIcon {
  --icon-distance: -32px;
  position: absolute;
  z-index: 2;
  top: calc(50% - 60px);
  width: 40px;
  height: 80px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center calc(50% + 10px);
  image-rendering: pixelated;
  text-align: center;
  font-size: 30px;
  line-height: 0;
  border: 5px solid var(--background);
  background-color: var(--background-tone-2);
  border-radius: 20px;
  padding: 20px 0 0 0;
  box-shadow: 6px 10px 8px var(--table-shadow),
              -6px 10px 8px var(--table-shadow);
  font-weight: bold;
  text-orientation: upright;
}
.resultsContainer .resultsAttackerIcon {
  background-image: url(Images/Bow.webp);
  left: var(--icon-distance);
  transform: scaleX(-1);
  outline: 3px solid var(--red-dim);
}
.resultsContainer .resultsAttackerIcon > div {
  transform: scaleX(-1);
}
.resultsContainer .resultsAttackerIcon:hover {
  animation: bowPull 0.4s forwards;
}
.resultsContainer .resultsDefenderIcon {
  background-image: url(Images/Chestplate/Diamond_Chestplate.webp);
  background-image: url(Images/Shield.webp);
  background-size: 32px 60px;
  right: var(--icon-distance);
  outline: 3px solid var(--blue-dim);
}
.resultsContainer:nth-of-type(2) .resultsAttackerIcon {
  left: unset;
  right: var(--icon-distance);
  transform: scaleX(1);
  outline: 3px solid var(--blue-dim);
}
.resultsContainer:nth-of-type(2) .resultsDefenderIcon {
  right: unset;
  left: var(--icon-distance);
  transform: scaleX(-1);
  outline: 3px solid var(--red-dim);
}
@keyframes bowPull {
  0% { background-image: url(Images/Bow.webp);}
  20% { background-image: url(Images/Bow_2.webp);}
  50% { background-image: url(Images/Bow_3.webp);}
  100% { background-image: url(Images/Bow_4.webp); outline-color: var(--orange);}
}
.flyingArrowContainer {
  position: relative;
  top: 30px;
  transform: scaleX(-1);
}
.flyingArrow {
  position: relative;
  height: 32px;
  width: 32px;
  background-image: url(Images/Arrow.webp);
  background-size: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0;
  --flying-arrow-time: 0.75s;
  --flying-arrow-height: 160;
  --flying-arrow-angle: 20deg;
  --flying-arrow-distance: 500px;
  --flying-arrow-scale: 2;
}
.flyingArrow.animate {
  animation:
    arrowX var(--flying-arrow-time) linear forwards,
    arrowY var(--flying-arrow-time) cubic-bezier(0,var(--flying-arrow-height),1,var(--flying-arrow-height)) forwards,
    arrowR var(--flying-arrow-time) linear forwards,
    arrowResetO 3s 3s forwards,
    arrowResetP 0s 6s forwards;
  animation-iteration-count: 1;
}
@keyframes arrowX {
  to {
    left: var(--flying-arrow-distance);
  }
}
@keyframes arrowY {
  to {
    top:-1px;
  }
}
@keyframes arrowR {
   0%{ transform: rotate(var(--flying-arrow-angle)); opacity: 0; display: block;}
   5%{ opacity: 0; }
  10%{ opacity: 1; }
  50%{ transform: rotate(45deg) }
 100%{ transform: rotate(calc(90deg - var(--flying-arrow-angle))) scale(var(--flying-arrow-scale)); opacity: 1;}
}
@keyframes arrowResetO {
  to {opacity: 0;}
}
@keyframes arrowResetP {
  to {top:0; left: 0;}
}
.resultsContainer h3 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}
.damageDealtIconsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.damageDealtIcons {
  max-width: 180px;
}
.resultsTable {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.resultsTable .row {
  margin: 0;
  height: 30px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  flex-wrap: wrap;
}
.resultsTable .row:nth-of-type(n+5) {
  display: none;
}
.resultsTable .row:where(:nth-of-type(4n - 3), :nth-of-type(4n - 2)) {
  background-color: var(--background-tone-1);
}
.resultsTable.expand  {
  flex-direction: column;
}
.resultsTable.expand .row {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--background);
}
.resultsTable.expand .row:nth-of-type(2n -1) {
  background-color: var(--background-tone-1);
}
.resultsTable .row:last-of-type {
  display: block;
  width: 100%;
}
.resultsTable.expand .row:last-of-type {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.resultsTable .row:nth-of-type(5) {
  font-weight: bold;
}
.resultsTable .row:nth-of-type(6),
.resultsTable .row:nth-of-type(8),
.resultsTable .row:nth-of-type(9) {
  height: 50px;
}
.resultsTable .row:nth-of-type(7) {
  height: 30px;
}
.row.highlight {
 font-weight: bold;
 color: var(--gold);
}
.resultsContainer .row hr {
  position: absolute;
  top: 21px;
  width: 50%;
  z-index: 1;
}
.composition {
  background-color: #3e3e3e;
  width: 80%;
  height: 14px;
  border: 2px solid black;
}
.composition div {
  float: left;
  width: 0;
  height: 100%;
  border-right: 2px solid black;
}
.defenceComposition {
  background-color: hsl(235, 9%, 75%);
  box-shadow: inset 0px -2px hsl(231, 3%, 43%);
}
.toughnessComposition {
  background-color: hsl(173, 53%, 50%);
  box-shadow: inset 0px -2px hsl(173, 61%, 29%);
}
.protectionComposition {
  background-color: hsl(221, 90%, 16%);
  box-shadow: inset 0px -2px hsl(221, 90%, 5%);
}
.resistanceComposition {
  background-color: hsl(7, 45%, 41%);;
  box-shadow: inset 0px -2px hsl(7, 45%, 23%);
}
.expander {
  --expander-size: 7px;
  border: solid var(--text);
  border-width: 0 var(--expander-size) var(--expander-size) 0;
  border-radius: calc(var(--expander-size) /2 );
  display: inline-block;
  padding: var(--expander-size);
  position: relative;
  /* left: calc(50% - 2 * var(--expander-size)); */
  cursor: pointer;
  transform: rotate(45deg);
}
.expander:hover {
  border-color: var(--green);
}
.resultsTable.expand .expander {
  transform: rotate(-135deg);
  top: calc(var(--expander-size) + 3px);
}


.buttons {
  padding: 2px 10px;
  border: 2px solid #666;
  border-radius: 0px;
  background-color: #666;
  font-size: 13px;
  color: var(--text);
  font-weight: bold;
}
/* .expander, .collapser {
  font-size: 15px;
  padding: 1px 10px;
  float: right;
} */
.buttons:hover {
  background-color: var(--medium-grey);
}
.buttons:active {
  position: relative;
  top: 1px;
}
.profileTableContainer {
  position: absolute;
  /* Each box is 82px wide   */
  /* Base 4 boxes is 330px   */
  max-width: 494px;
  top: 0;
  right: 0;
  overflow: auto;
}
@media only screen and (max-width: 1900px) {
  .armourProfile .profileTableContainer {
    max-width: 412px;
  }
}

.profileTableContainer::-webkit-scrollbar {
    height: 10px;
}
.profileTableContainer::-webkit-scrollbar-track {
    background-color: var(--background-tone-1);
    border-radius: 10px;
}
.profileTableContainer::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 100px;
}
.profileTable div {
  margin: auto;
}
.profileTable td, .profileTable th {
  padding: 2px 2px;
}
.profileTable td {
  font-size: 12px;
  text-align: center;
}
.profileContainer {
  padding-bottom: 20px;
}

.profile {
  background-color: #333;
  top: 5px;
  position: relative;
  margin: 0;
  padding-bottom: 1px;
  margin-top: 6px;
  -webkit-user-select: none;
  user-select: none;
  font-family: montserrat;
}
.profile p {
/*   font-weight: bold; */
  padding-left: 55px;
  margin: 8px;
}
.profile label {
  background-color: #444;
  font-size: 24px;
  padding-bottom: 1px;
}

.profileName{
  background-color: #444;
  /*  "> " is 21px  */
  width: calc(100% - 21px);
  padding: 0px;
  outline: 0;
  font-size: 24px;
  border: 0;
  border-radius: 0;
  color: var(--text);
}
.editProfile, .deleteProfile {
  z-index: 1;
  width: 40px;
  height: 40px;
  background-image: url(Images/Book_and_Quill.webp);
  background-repeat: no-repeat;
  background-size: 40px;
  background-color: #444;
  border: 2px solid var(--medium-grey-2);
  border-radius: 2px;
  position: absolute;
  left: 5px;
  /*  14px from top standard  */
  top: 35px;
}
.deleteProfile {
  background-image: url(Images/Fire_Charge2.webp); 
  background-size: 40px;
  top: 83px;  
}


.profileButton:hover{
  outline: 2px solid var(--text);
}
.profileButton:hover .tooltip {
  visibility: visible;
}
.profile.selected {
  outline: 3px solid paleorange;
}
.profile.collapse {
  height: 25px;
  overflow: hidden;
}
.profile.collapse table{
  display: none
}
.profile.collapse .profileShorthand {
  position: absolute;
  top: 5px;
  right: 20px;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
}

.profileDamageReduced {
  display: none;
}
.profile.collapse .profileDamageReduced {
  display: block;
}

.profile.collapse .profileDamage,
.profile.collapse .profileDamageTaken{
  right: 210px;
}
.hitpointsBox {
  background-size: 80px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modalContent {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: var(--background-tone-1);
  margin: auto;
  padding: 1px 20px 20px 20px;
  border-radius: 10px;
  width: 40%;
  max-height: calc(100vh - 50px);
  overflow: auto;
  color: var(--text);
}
.modalContent::-webkit-scrollbar {
  width: 13px;
}
.modalContent::-webkit-scrollbar-thumb {
  background: var(--orange);
}
.modalContent p{
  text-align: center;
  font-size: 15px
}

.closeModal {
  position: absolute;
  color: crimson;
  top: 5px;
  right: 5px;
  height: 26px;
  width: 26px;
  font-size: 26px;
  font-weight: bold;
  background-color: var(--background-tone-1);
  border: 3px solid red;
  border-radius: 10px;
  text-align: center;
  line-height: 1;
  -webkit-user-select: none;
  user-select: none;
}
.closeModal:hover, .closeModal:focus {
  background-color: --texttvar(--text);
  text-decoration: none;
  cursor: pointer;
}
.profileFolder, .profileAddFolder{
  box-sizing: border-box;
  width: 200px;
  margin: 2px;
  padding: 5px;
  background-color: #444;
  color: var(--orange);
  font-weight: bold;
  position: relative;
  font-size: 18px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 100% 0);
}
.profileFolder {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 10px, calc(100% - 10px) 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 10px, calc(100% - 10px) 0);
}
.profileFolderNameWidth {
  font: inherit;
  margin: 0;
/*   padding: 0; */
/*   padding-right: 30px; */
  display: none;
  white-space: pre;
}

.profileFolderName {
  display: inline-block;
  background-color: #444;
  border: 0;
/*   padding: 0; */
  font: inherit;
  color: inherit;
  min-width: 50px;
  max-width: 150px;
  border-radius: 0px;
}
.profileFolderName:focus {
  outline: none;
  box-shadow: 0px 1px var(--orange);
}
.profileFolder.collapse {
  -webkit-clip-path: polygon(0 0, 0 100%, calc(100% - 10px) 100%, 100% calc(100% - 10px), 100% 0);
  clip-path: polygon(0 0, 0 100%, calc(100% - 10px) 100%, 100% calc(100% - 10px), 100% 0);
}
.profileAddFolder {
  color: var(--medium-grey);
}
.profileAddFolder:hover {
  -webkit-clip-path: polygon(0 0, 0 100%, calc(100% - 10px) 100%, 100% calc(100% - 10px), 100% 0);
  clip-path: polygon(0 0, 0 100%, calc(100% - 10px) 100%, 100% calc(100% - 10px), 100% 0);
  color: forestgreen;
}
.profileAddFolder.full:hover {
  color: red;
}
.profileDeleteFolder {
  color: var(--medium-grey);
}
.profileDeleteFolder:hover {
  color: red;
}


.profileGroup {
  box-sizing: border-box;
  width: 180px;
  left: 20px;
  margin: 2px;
  padding: 5px;
  padding-left: 15px;
  line-height: 1;
  border: 1px solid #333;
  background-color: #333;
  color: var(--orange);
  font-weight: bold;
  position: relative;
  -webkit-clip-path: polygon(0 0, 10px 50%, 0 100%, calc(100% - 10px) 100%, 100% 50%, calc(100% - 10px) 0%);
  clip-path: polygon(0 0, 10px 50%, 0 100%, calc(100% - 10px) 100%, 100% 50%, calc(100% - 10px) 0%);
  transition: 0.2s;
}
.profileGroup.selected {
  background-color: #666;
}
.profileGroup:hover {
  left: 30px;
}
#profileGroups{
  float: left;
  width: 220px;
  overflow:auto;
}
#profileGroups div {
  cursor: pointer;
}

#groupPreview {
  float: left;
  width: calc(100% - 220px);
}

#profileGroups h2, #groupPreview h2{
  text-align: center;
  margin: 0;
}

#groupName {
  width: 100%;
  background-color: #333;
  border: 0;
  font-size: 25px;
  color: var(--text);
}
#groupName:focus {
  outline: 0;
}
#groupDescription {
  resize: none;
  height: 4em;
  width: 100%;
  background-color: #333;
  border: 0;
  font-size: 15px;
  color: var(--text);
}
#groupDescription:focus {
  outline: 0;
}
.previewMove {
  /* float: left; */
  border: solid var(--main);
  border-width: 0 8px 8px 0;
  border-radius: 4px;
  display: inline-block;
  padding: 8px;
  position: relative;
  top: 67px;
  cursor: pointer;
}
.previewMove:hover {
  border-color: green;
}
.previewMove.end:hover {
  border-color: red;
}

#previewBack {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
/*   left: 240px; */
}
#previewBack:active {
  left: -2px;
}
#previewForward {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
/*   right: 15px; */
}
#previewForward:active {
  left: 2px;
}

#previewReel {
  float: left;
  width: calc(100% - 48px);
  height: 150px;
  background-color: var(--background);
}
.clear {
  clear: both;
}
.groupButton{
  float: left;
  color: forestgreen;
  height: 26px;
  font-size: 26px;
  padding: 0px 5px;
  font-weight: bold;
  background-color: var(--background-tone-1);
  border: 3px solid green;
  border-radius: 10px;
  text-align: center;
  line-height: 1;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  margin-left: 6px;
  margin-top: 6px;
}
@media only screen and (min-width: 1628px) {
  #selectGroup {
    float: right;
  }
  #deleteGroup {
    margin-left: 0px;
  }
}
#updateGroup {
  color: steelblue;
  border-color: dodgerblue;
}
#deleteGroup {
  color: crimson;
  border-color: red;
}

.groupButton:hover{
  background-color: #143;
}
#updateGroup:hover {
  background-color: #134;
}
#deleteGroup:hover {
  background-color: #412;
}
#previewText {
  display: block;
}
#groupSelected {
  display: none;
}