@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


header {
  background-color: #222;
  font-family: Bungee;
  text-align: center;
  color: hsl(177, 71%, 38%)
}
h1 { 
  margin: 0;
  text-align: center;
  font-size: 35px;
  font-family: Bungee;
}
header h1 {
  margin: 0;
  color: white;
}
header h1::before {
  content: "Andy's";
  font-size: 25px;
  vertical-align: middle;
  color: hsl(138, 71%, 38%);
  padding-right: 5px;
}
/* header h1::after {
  content: "(Java)";
  font-size: 25px;
  vertical-align: middle;
  color: hsl(41, 77%, 42%);
  padding-left: 5px;
} */
body {
  background-color: #111;
  font-family:'Segoe UI';
  color: White;
  width: 100%;
  margin: auto;
}
.container {
  width: 40%;
  float: left;
/*   border: 1px solid red; */
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
#middleHalf {
  width: 20%;
}
#weapon {
  color: crimson;
}
#vs {
  font-size: 60px;
  color: darkorange; 
}
#armour {
  color: royalblue;
}
#results {
  color: forestgreen;
}
/* DICE */
.dice {
	display: grid;
	grid-template-areas:
		"a . c"
		"e g f"
		"d . b";

	flex: 0 0 auto;
	margin: 4px;
	padding: 4px;
	width: 26px;
	height: 26px;

	background-color: #e7e7e7;
	border-radius: 10%;
  position: absolute;
  right: 0px;
  top: 00px;
}
#leftHalf .dice {
  right: auto;
  left: 0px;
}
.dice.animate{
  animation: wiggle 0.4s;
}
@keyframes wiggle {
  10% {transform: rotate(20deg);}
  40% {transform: rotate(-10deg);}
  70% {transform: rotate(5deg);}
  100% {}
}

.pip {
	display: block;
	align-self: center;
	justify-self: center;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #333;
	box-shadow: inset 0 3px #111, inset 0 -2px #555;
}

.pip:nth-child(2) {
	grid-area: b;
}
.pip:nth-child(3) {
	grid-area: c;
}
.pip:nth-child(4) {
	grid-area: d;
}
.pip:nth-child(5) {
	grid-area: e;
}
.pip:nth-child(6) {
	grid-area: f;
}
/* This selects the last pip of odd-valued dice (1, 3, 5) and positions the pip in the center */
.pip:nth-child(odd):last-child {
	grid-area: g;
}
table {
  margin-left: 0;
  display: inline-block;
}
.gearTable {
  margin-left: 50px;
}
.verticalTop {
  vertical-align: top;
}
.verticalBottom{
  vertical-align: bottom;
}

.box {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-color: #777;
  padding: 3px;
  border: 3px solid #999;
  background-image: url(Images/Barrier.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80px;
  transition: 0.2s;
  margin: 0;
}
#tool {
  width: 160px;
  height: 160px;
  background-size: 160px;
  border-width: 6px;
}
.selectTool {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: 32px;
  border-width: 2px;
  /* margin: 3px 0px; */
  opacity: 50%;
  image-rendering: pixelated;
}
.selectTool:hover {
  opacity: 100%;
}
#helmet.box {
  background-image: url(Images/Helmet/Empty_Helmet.webp);
}
#chestplate.box {
  background-image: url(Images/Chestplate/Empty_Chestplate.webp);
}
#leggings.box {
  background-image: url(Images/Leggings/Empty_Leggings.webp);
}
#boots.box {
  background-image: url(Images/Boots/Empty_Boots.webp);
}
.pixelated {
  image-rendering: pixelated;
}
.armourDefence, #totalDefence, .armourToughness, #totalToughness, #totalHitpoints {
  display: block;

}
.armourDefence, #totalDefence{
  background-image: url(Images/Empty_Armour.webp);
  background-size: 18px;
  width: 72px;
  height: 18px;
  display: block;
  margin-bottom: 2px;
}
#helmetDefence, #bootsDefence {
  width: 36px;
}
#leggingsDefence {
  width: 54px;
}
#totalDefence {
  min-width: 180px;

}
.armourToughness{
  height: 18px;
  width: 36px;
  display: block;
}
#totalToughness {
  width: 180px;
  height: 18px;
}
#totalHitpoints{
  background-size: 18px;
  width: 180px;
  height: auto;
  line-height: 18px;
}
#attackCooldownContainer {
  width: 260px;
}
#totalHitpointsContainer{
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -4px;
  height: auto;
}
.hitpointBreak {
  display: block;
  content: "";
  margin-top: 0px;

}
.profile .box, .profile p, .profile table{
  cursor: default;
}
.box:hover {
  border-color: white;
}

button {
  cursor: pointer;
}
.editProfile, .deleteProfile {
  cursor: pointer;
}

th, td {
  font-size: 14px;
}
.number {
  position: relative;
  font-family: Bungee;
  user-select: none;
}
.inputValue {
  position: absolute;
  border: 0px solid;
  top: calc(1em - 14px);
  left: calc( 50% - 25px);
  box-sizing: border-box;
  color: white;
  font-size: 25px;
  height: 40px;
  width: 50px;
  background-color: transparent;
  text-align: center;
  border-radius: 0;
  font-family: Bungee;
}
.inputValue:focus{
  outline: none;
  border: 2px solid white;
  z-index: 2;
}
.arrow {
  position: relative;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  border: 0;
  border-radius: 24px;
  font-weight: bold;
  background-color: #bbb;
  font-size: 24px;
  color: green;
  z-index: 1;
  font-family: Bungee;
  overflow: hidden;
}
.arrowDown {
  left: calc(100% - 48px - 4px);
  color: red;
}
.arrow p {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  line-height: 0.5;
}
.number .arrowUp:active, .number .arrowDown:active{
  top: 1px;
}
#hitpoints {
  padding: 0;
  width: 90px;
  height: 40px;
  color: #f00;
  font-size: 20px;
  margin: 0 auto;
}
#hitpoints > p {
  display: flex;
  justify-content: center;
  line-height: 0.3;
  margin: 0 auto;
}
.enchantment {
  /* vertical-align: center; */
  float: right;
  width: 60px;
  height: 75px;
  transition: 0.1s;
  background-image: url(Images/Protection.webp);
  background-size: 150%;
  background-position: center 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}
.enchantment .inputValue {
  height: 50%;
  width: 100%;
  top: 10%;
  left: 0px;
  color: #cecece;
  text-shadow:
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
}
.levelled {
  color: rgb(179, 20, 165) !important;
}
.enchantment .inputValue:focus {
  border: 3px solid #999;
  border-radius: 10px;
  background-color: #222;
}
.enchantment .arrow{
  top: 60%;
  left: 0px;
  background-color: rgb(4,27,76);
  outline: 2px solid #999;
}
.enchantment .arrowDown{
  left: calc(100% - 48px - 2px);
}
.enchantment .arrow:hover {
  outline-color: #fff;
}
.enchantment .arrow:active {
  top: calc(60% + 1px);
}
#crit {
  background-image: url(Images/Crit.webp);
  background-size: 54px;
  background-position: 5px 5px;
  width: 60px;
  height: 60px;
  float: left;
}
#crit:hover , #effects:hover{
  background-color: #333;
}
#sharpness {
  background-image: url(Images/Sharpness.webp);
  float: left;
  margin: 0px 3px;
}
#effects {
  float: right;
  width: 60px;
  height: 60px;
  background-image: url(Images/Effects.webp);
  background-size: 100%;
}
#effectLine{
  display: flex;
  position: absolute;
  left: 100%;
  top: -5px;
  flex-wrap: nowrap;
  gap: 10px;
  /* justify-content: start; */
  max-width: 340px;
  overflow-y: show;
  overflow-x: auto;
  background-color: #111;
  padding: 5px 10px;
  flex-direction: row;
  z-index: 5;
}
#effectLine .effect {
  float: left;
  min-width: 50px;
  min-height: 50px;
  z-index: 5;
}
.effect.off::before {
  content: "";
}
#effectLine::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
#effectLine::-webkit-scrollbar-track {
  background: #080808;
  border-radius: 10px;
  margin: 0px 5px;
}
#effectLine::-webkit-scrollbar-thumb {
  background: rgb(90, 18 ,152);
  border-radius: 10px;
}
#effectLine::-webkit-scrollbar-thumb:hover {
  background: rgb(174, 85, 219);
}
#effectTable{
  display: none;
  position: absolute;
  left: 100%;
  top: -10px;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
  width: 340px;
  background-color: #111;
  border: 5px solid black;
  border-radius: 10px;
  padding: 5px;
  z-index: 999;
}
#effects:hover~#effectTable, #effectTable:hover{
  display: flex;
}
.effect {
  position: relative;
  background-position: center;
  background-size: 36px;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  float: right;
  border: 5px solid #555;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}
.effect::before {
  position: absolute;
  top: -20px;
  left: -5px;
  width: 60px;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
  color: white;
  text-shadow:
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black,
  1px 1px 0 black;
  content: attr(data-before);
}
.effect.off {
  opacity: 0.3;
}
.effect.off:hover {
  opacity: 0.8;
}
.effect .inputValue {
  top: 0;
  display: none;
  width: 100%;
  color: white;
}
.effect .inputValue:focus {
  border: none;
}
.effect:hover {
  background-color: #333 !important;
  /* background-image: none !important; */
  background-blend-mode: multiply;
}
.effect:hover .inputValue{
  display: block;
}
.effect .arrow{
  display: none;
  background-color: #bbb;
  border: none;
  outline: none;
  top: 30px;
  left: 0;
}
.effect:hover .arrow {
  display: block;
}
.effect .arrowDown {
  top: 6px;
  left: calc(100% - 24px);  
}
.effect .arrow:active {
  top: calc(60% + 1px);
}
.effect .arrowDown:active {
  top: 7px;
}
.effect.positive {
  border-color: forestgreen;
}
.effect.negative {
  border-color: darkred;
}
.strength {
  background-image: url(Images/Effect/Strength.webp);
  background-color:  #952523;
}
.haste {
  background-image: url(Images/Effect/Haste.webp);
  background-color:  #D9C043;
}
.regeneration {
  background-image: url(Images/Effect/Regeneration.webp);
  background-color: #CD5CAB;
}
.resistance {
  background-image: url(Images/Effect/Resistance.webp);
  background-color: #99453A;
}
.weakness {
  background-image: url(Images/Effect/Weakness.webp);
  background-color:  #484D48;
}
.miningFatigue {
  background-image: url(Images/Effect/Mining_Fatigue.webp);
  background-color:  #4A4217;
}
.fireResistance {
  background-image: url(Images/Effect/Fire_Resistance.webp);
  background-color: #E49A3A;
}
.speed {
  background-image: url(Images/Effect/Speed.webp);
  background-color: #7CAFC6;
}
.slowness {
  background-image: url(Images/Effect/Slowness.webp);
  background-color: #5A6C81;
}
.waterBreathing {
  background-image: url(Images/Effect/Water_Breathing.webp);
  background-color: #2E5299;
}
.invisibility {
  background-image: url(Images/Effect/Invisibility.webp);
  background-color: #7F8392;
}
.glowing {
  background-image: url(Images/Effect/Glowing.webp);
  background-color: #94A061;
}
.healthBoost {
  background-image: url(Images/Effect/Health_Boost.webp);
  background-color: #F87D23;
}
.absorption {
  background-image: url(Images/Effect/Absorption.webp);
  background-color: #2552A5;
}
.jumpBoost {
  background-image: url(Images/Effect/Jump_Boost.webp);
  background-color: #22FF4C;
}
.slowFalling {
  background-image: url(Images/Effect/Slow_Falling.webp);
  background-color: #F7F8E0;
}
.levitation {
  background-image: url(Images/Effect/Levitation.webp);
  background-color: #CEFFFF;
}
.saturation {
  background-image: url(Images/Effect/Saturation.webp);
  background-color: #F82421;
}
.hunger {
  background-image: url(Images/Effect/Hunger.webp);
  background-color: #587653;
}
.nausea {
  background-image: url(Images/Effect/Nausea.webp);
  background-color: #551D4A;
}
.nightVision {
  background-image: url(Images/Effect/Night_Vision.webp);
  background-color: #1F1FA1;
}
.blindness {
  background-image: url(Images/Effect/Blindness.webp);
  background-color: #1F1F23;
}
.darkness {
  background-image: url(Images/Effect/Darkness.webp);
  background-color: #292721;
}
.poison {
  background-image: url(Images/Effect/Poison.webp);
  background-color: #4E9331;
}
.wither {
  background-image: url(Images/Effect/Wither.webp);
  background-color: #352A27;
}
.instantHealth {
  background-image: url(Images/Effect/Instant_Health.webp);
  background-color: #F82423;
}
.instantDamage {
  background-image: url(Images/Effect/Instant_Damage.webp);
  background-color: #430A09;
}

.totalStats {
  font-weight: bold;
}
#middleHalf td{
  font-size: 20px;
  min-width: 60px;
}
.reductions {
  display: none;
}
.buttons {
  padding: 2px 10px;
  border: 2px solid #666;
  border-radius: 0px;
  background-color: #666;
  font-size: 13px;
  color: white;
  font-weight: bold;
}
.expander, .collapser {
  font-size: 15px;
  padding: 1px 10px;
  float: right;
}
.buttons:hover {
  background-color: #999;
}
.buttons:active {
  position: relative;
  top: 1px;
}
.folder {
  background-color: #FCBA12;
  color: #8B4513;
  border: 2px solid #A77802;
  border-radius: 5px;
  float: right;
  margin-right: 5px;
}
.folder:hover {
  background-color: #FDED2A;
}
.profileTableContainer {
  position: absolute;
  /* Each box is 82px wide   */
  /* Base 4 boxes is 330px   */
  max-width: 494px;
  top: 0;
  right: 0;
  overflow: auto;
}
@media only screen and (max-width: 1900px) {
  .armourProfile .profileTableContainer {
    max-width: 412px;
  }
}

.profileTableContainer::-webkit-scrollbar {
    height: 10px;
}
.profileTableContainer::-webkit-scrollbar-track {
    background-color: #222;
    border-radius: 10px;
}
.profileTableContainer::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 100px;
}
.profileTable div {
  margin: auto;
}
.profileTable td, .profileTable th {
  padding: 2px 2px;
}
.profileTable td {
  font-size: 12px;
  text-align: center;
}
.profileContainer {
  padding-bottom: 20px;
}

.profile {
  background-color: #333;
  top: 5px;
  position: relative;
  margin: 0;
  padding-bottom: 1px;
  margin-top: 6px;
  user-select: none;
  font-family: montserrat;
}
.profile p {
/*   font-weight: bold; */
  padding-left: 55px;
  margin: 8px;
}
.profile label {
  background-color: #444;
  font-size: 24px;
  padding-bottom: 1px;
}

.profileName{
  background-color: #444;
  /*  "> " is 21px  */
  width: calc(100% - 21px);
  padding: 0px;
  outline: 0;
  font-size: 24px;
  border: 0;
  border-radius: 0;
  color: white;
}
.editProfile, .deleteProfile {
  z-index: 1;
  width: 40px;
  height: 40px;
  background-image: url(Images/Book_and_Quill.webp);
  background-repeat: no-repeat;
  background-size: 40px;
  background-color: #444;
  border: 2px solid #777;
  border-radius: 2px;
  position: absolute;
  left: 5px;
  /*  14px from top standard  */
  top: 35px;
}
.deleteProfile {
  background-image: url(Images/Fire_Charge2.webp); 
  background-size: 40px;
  top: 83px;  
}
.tooltip {
  visibility: hidden;
  width: 130px;
  height: 22px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  bottom: 4px;
  left: 125%;
  font-family: montserrat;
}
.tooltip::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  margin-left: -12px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}


.profileButton:hover{
  outline: 2px solid white;
}
.profileButton:hover .tooltip {
  visibility: visible;
}
.profile.selected {
  outline: 3px solid paleorange;
}
.profile.collapse {
  height: 25px;
  overflow: hidden;
}
.profile.collapse table{
  display: none
}
.profile.collapse .profileShorthand {
  position: absolute;
  top: 5px;
  right: 20px;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
}

.profileDamageReduced {
  display: none;
}
.profile.collapse .profileDamageReduced {
  display: block;
}

.profile.collapse .profileDamage,
.profile.collapse .profileDamageTaken{
  right: 210px;
}
#hitpointsBox {
  background-size: 80px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modalContent {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #222;
  margin: auto;
  padding: 1px 20px 20px 20px;
  border-radius: 10px;
  width: 40%;
  max-height: calc(100vh - 50px);
  overflow: auto;
  color: white;
}
.modalContent::-webkit-scrollbar {
  width: 13px;
}
.modalContent::-webkit-scrollbar-thumb {
  background: darkorange;
}
.modalContent p{
  text-align: center;
  font-size: 15px
}

.closeModal {
  position: absolute;
  color: crimson;
  top: 5px;
  right: 5px;
  height: 26px;
  width: 26px;
  font-size: 26px;
  font-weight: bold;
  background-color: #222;
  border: 3px solid red;
  border-radius: 10px;
  text-align: center;
  line-height: 1;
  user-select: none;
}
.closeModal:hover, .closeModal:focus {
  background-color: white;
  text-decoration: none;
  cursor: pointer;
}
.profileFolder, .profileAddFolder{
  box-sizing: border-box;
  width: 200px;
  margin: 2px;
  padding: 5px;
  background-color: #444;
  color: darkorange;
  font-weight: bold;
  position: relative;
  font-size: 18px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 100% 0);
}
.profileFolder {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 10px, calc(100% - 10px) 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 10px, calc(100% - 10px) 0);
}
.profileFolderNameWidth {
  font: inherit;
  margin: 0;
/*   padding: 0; */
/*   padding-right: 30px; */
  display: none;
  white-space: pre;
}

.profileFolderName {
  display: inline-block;
  background-color: #444;
  border: 0;
/*   padding: 0; */
  font: inherit;
  color: inherit;
  min-width: 50px;
  max-width: 150px;
  border-radius: 0px;
}
.profileFolderName:focus {
  outline: none;
  box-shadow: 0px 1px darkorange;
}
.profileFolder.collapse {
  -webkit-clip-path: polygon(0 0, 0 100%, calc(100% - 10px) 100%, 100% calc(100% - 10px), 100% 0);
  clip-path: polygon(0 0, 0 100%, calc(100% - 10px) 100%, 100% calc(100% - 10px), 100% 0);
}
.profileAddFolder {
  color: #999;
}
.profileAddFolder:hover {
  -webkit-clip-path: polygon(0 0, 0 100%, calc(100% - 10px) 100%, 100% calc(100% - 10px), 100% 0);
  clip-path: polygon(0 0, 0 100%, calc(100% - 10px) 100%, 100% calc(100% - 10px), 100% 0);
  color: forestgreen;
}
.profileAddFolder.full:hover {
  color: red;
}
.profileDeleteFolder {
  color: #999;
}
.profileDeleteFolder:hover {
  color: red;
}


.profileGroup {
  box-sizing: border-box;
  width: 180px;
  left: 20px;
  margin: 2px;
  padding: 5px;
  padding-left: 15px;
  line-height: 1;
  border: 1px solid #333;
  background-color: #333;
  color: darkorange;
  font-weight: bold;
  position: relative;
  -webkit-clip-path: polygon(0 0, 10px 50%, 0 100%, calc(100% - 10px) 100%, 100% 50%, calc(100% - 10px) 0%);
  clip-path: polygon(0 0, 10px 50%, 0 100%, calc(100% - 10px) 100%, 100% 50%, calc(100% - 10px) 0%);
  transition: 0.2s;
}
.profileGroup.selected {
  background-color: #666;
}
.profileGroup:hover {
  left: 30px;
}
#profileGroups{
  float: left;
  width: 220px;
  overflow:auto;
}
#profileGroups div {
  cursor: pointer;
}

#groupPreview {
  float: left;
  width: calc(100% - 220px);
}

#profileGroups h2, #groupPreview h2{
  text-align: center;
  margin: 0;
}

#groupName {
  width: 100%;
  background-color: #333;
  border: 0;
  font-size: 25px;
  color: white;
}
#groupName:focus {
  outline: 0;
}
#groupDescription {
  resize: none;
  height: 4em;
  width: 100%;
  background-color: #333;
  border: 0;
  font-size: 15px;
  color: white;
}
#groupDescription:focus {
  outline: 0;
}
.previewMove {
  /* float: left; */
  border: solid black;
  border-width: 0 8px 8px 0;
  border-radius: 4px;
  display: inline-block;
  padding: 8px;
  position: relative;
  top: 67px;
  cursor: pointer;
}
.previewMove:hover {
  border-color: green;
}
.previewMove.end:hover {
  border-color: red;
}

#previewBack {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
/*   left: 240px; */
}
#previewBack:active {
  left: -2px;
}
#previewForward {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
/*   right: 15px; */
}
#previewForward:active {
  left: 2px;
}

#previewReel {
  float: left;
  width: calc(100% - 48px);
  height: 150px;
  background-color: #111;
}
.clear {
  clear: both;
}
.groupButton{
  float: left;
  color: forestgreen;
  height: 26px;
  font-size: 26px;
  padding: 0px 5px;
  font-weight: bold;
  background-color: #222;
  border: 3px solid green;
  border-radius: 10px;
  text-align: center;
  line-height: 1;
  user-select: none;
  cursor: pointer;
  margin-left: 6px;
  margin-top: 6px;
}
@media only screen and (min-width: 1628px) {
  #selectGroup {
    float: right;
  }
  #deleteGroup {
    margin-left: 0px;
  }
}
#updateGroup {
  color: steelblue;
  border-color: dodgerblue;
}
#deleteGroup {
  color: crimson;
  border-color: red;
}

.groupButton:hover{
  background-color: #143;
}
#updateGroup:hover {
  background-color: #134;
}
#deleteGroup:hover {
  background-color: #412;
}
#previewText {
  display: block;
}
#groupSelected {
  display: none;
}